@mixin flex($direction:row, $wrap:wrap, $display:flex) {
  display: $display;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}